In [1]:
import pandas as pd
import numpy as nm

In [2]:
# Creating a file path to conduct manipulation
file_path = '/Users/faisaldernawi/Desktop/Training_And_Development/GW_Bootcamp/Homework/Project_3/Data/Crime/Unrefined/Crime_Incidents_in_2020.csv'

In [3]:
# Loading the CSV file into a Pandas Dataframe
crime_data = pd.read_csv(file_path)

In [4]:
# Displaying the Dataframe
crime_data.head()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,401276.0,138113.0,20000634,2020/01/02 02:20:49+00,EVENING,KNIFE,ASSAULT W/DANGEROUS WEAPON,1800 - 1899 BLOCK OF WEST VIRGINIA AVENUE NE,401276.0,138113.0,...,008803 1,8803.0,Precinct 76,38.910878,-76.985288,NaN,2020/01/02 00:08:23+00,2020/01/02 02:10:56+00,635094812,NaN
1,399555.0,141585.0,20032518,2020/02/23 03:46:01+00,EVENING,GUN,ROBBERY,100 - 199 BLOCK OF URELL PLACE NE,399555.0,141585.0,...,009510 3,9510.0,Precinct 44,38.942156,-77.005133,NaN,2020/02/23 01:39:42+00,NaN,635094844,NaN
2,396171.0,137945.0,20070984,2020/05/13 00:54:59+00,EVENING,OTHERS,THEFT/OTHER,1 - 7 BLOCK OF DUPONT CIRCLE NW,396171.0,137945.0,...,005502 3,5502.0,Precinct 14,38.909358,-77.044147,DUPONT CIRCLE,2020/05/12 18:22:11+00,2020/05/12 18:23:40+00,635094845,NaN
3,398477.0,137319.0,20072939,2020/05/16 17:20:33+00,DAY,OTHERS,ASSAULT W/DANGEROUS WEAPON,400 - 497 BLOCK OF L STREET NW,398477.0,137319.0,...,004703 2,4703.0,Precinct 1,38.903725,-77.017558,MOUNT VERNON TRIANGLE CID,2020/05/16 16:24:46+00,2020/05/16 17:20:43+00,635094846,NaN
4,403654.0,133385.0,20024920,2020/02/10 19:37:22+00,DAY,OTHERS,THEFT F/AUTO,3300 - 3345 BLOCK OF PENNSYLVANIA AVENUE SE,403654.0,133385.0,...,009901 2,9901.0,Precinct 109,38.868280,-76.957895,NaN,2020/02/10 17:00:58+00,2020/02/10 19:20:01+00,635094850,NaN

In [5]:
# Creating group of columns to keep
columns_to_keep = ['OFFENSE', 'LATITUDE', 'LONGITUDE', 'CENSUS_TRACT']

In [6]:
# Dropping the rest of the columns that are redundant or not needed
crime_data_cleaned = crime_data[columns_to_keep]

In [7]:
# Displaying the dataframe 
crime_data_cleaned

                          OFFENSE   LATITUDE  LONGITUDE  CENSUS_TRACT
0      ASSAULT W/DANGEROUS WEAPON  38.910878 -76.985288        8803.0
1                         ROBBERY  38.942156 -77.005133        9510.0
2                     THEFT/OTHER  38.909358 -77.044147        5502.0
3      ASSAULT W/DANGEROUS WEAPON  38.903725 -77.017558        4703.0
4                    THEFT F/AUTO  38.868280 -76.957895        9901.0
...                           ...        ...        ...           ...
27926                THEFT F/AUTO  38.953316 -77.093483        1003.0
27927                    BURGLARY  38.900195 -76.989279        8410.0
27928                 THEFT/OTHER  38.891117 -76.938597        9603.0
27929                 THEFT/OTHER  38.930887 -76.996183        9201.0
27930                 THEFT/OTHER  38.913718 -77.043435        4202.0

[27931 rows x 4 columns]

In [8]:
# locking and reverting numeric values 
crime_data_cleaned.loc[:, 'CENSUS_TRACT'] = pd.to_numeric(crime_data_cleaned['CENSUS_TRACT'], errors='coerce')

In [9]:
# Creating a copy of dataframe to modify
crime_data_cleaned = crime_data_cleaned.copy()
crime_data_cleaned['CENSUS_TRACT'] = pd.to_numeric(crime_data_cleaned['CENSUS_TRACT'], errors='coerce')

In [10]:
# Dropping values to ensure alignment
crime_data_cleaned = crime_data_cleaned.dropna(subset=['CENSUS_TRACT']).copy()
crime_data_cleaned['CENSUS_TRACT'] = pd.to_numeric(crime_data_cleaned['CENSUS_TRACT'], errors='coerce')

In [11]:
# Changing decimal place
crime_data_cleaned['TRACT_DIVIDED'] = crime_data_cleaned['CENSUS_TRACT'] / 10

# Display the first few rows to verify
print(crime_data_cleaned[['CENSUS_TRACT', 'TRACT_DIVIDED']].head())

   CENSUS_TRACT  TRACT_DIVIDED
0        8803.0          880.3
1        9510.0          951.0
2        5502.0          550.2
3        4703.0          470.3
4        9901.0          990.1

In [14]:
crime_data_cleaned

,OFFENSE,LATITUDE,LONGITUDE,CENSUS_TRACT,TRACT_DIVIDED
0,ASSAULT W/DANGEROUS WEAPON,38.910878,-76.985288,8803.0,880.3
1,ROBBERY,38.942156,-77.005133,9510.0,951.0
2,THEFT/OTHER,38.909358,-77.044147,5502.0,550.2
3,ASSAULT W/DANGEROUS WEAPON,38.903725,-77.017558,4703.0,470.3
4,THEFT F/AUTO,38.868280,-76.957895,9901.0,990.1
...,...,...,...,...,...
27926,THEFT F/AUTO,38.953316,-77.093483,1003.0,100.3
27927,BURGLARY,38.900195,-76.989279,8410.0,841.0
27928,THEFT/OTHER,38.891117,-76.938597,9603.0,960.3
27929,THEFT/OTHER,38.930887,-76.996183,9201.0,920.1
27930,THEFT/OTHER,38.913718,-77.043435,4202.0,420.2

In [15]:
# Dropping column and renaming other column
# Drop the original 'CENSUS_TRACT' column
crime_data_cleaned.drop(columns=['CENSUS_TRACT'], inplace=True)

# Rename the 'TRACT_DIVIDED' column to 'CENSUS_TRACT'
crime_data_cleaned.rename(columns={'TRACT_DIVIDED': 'CENSUS_TRACT'}, inplace=True)

crime_data_cleaned

                          OFFENSE   LATITUDE  LONGITUDE  CENSUS_TRACT
0      ASSAULT W/DANGEROUS WEAPON  38.910878 -76.985288         880.3
1                         ROBBERY  38.942156 -77.005133         951.0
2                     THEFT/OTHER  38.909358 -77.044147         550.2
3      ASSAULT W/DANGEROUS WEAPON  38.903725 -77.017558         470.3
4                    THEFT F/AUTO  38.868280 -76.957895         990.1
...                           ...        ...        ...           ...
27926                THEFT F/AUTO  38.953316 -77.093483         100.3
27927                    BURGLARY  38.900195 -76.989279         841.0
27928                 THEFT/OTHER  38.891117 -76.938597         960.3
27929                 THEFT/OTHER  38.930887 -76.996183         920.1
27930                 THEFT/OTHER  38.913718 -77.043435         420.2

[27930 rows x 4 columns]

In [17]:
# Reordering the columns
crime_data_cleaned = crime_data_cleaned[['CENSUS_TRACT', 'OFFENSE', 'LATITUDE', 'LONGITUDE']]

# Display the first few rows to verify
crime_data_cleaned

       CENSUS_TRACT                     OFFENSE   LATITUDE  LONGITUDE
0             880.3  ASSAULT W/DANGEROUS WEAPON  38.910878 -76.985288
1             951.0                     ROBBERY  38.942156 -77.005133
2             550.2                 THEFT/OTHER  38.909358 -77.044147
3             470.3  ASSAULT W/DANGEROUS WEAPON  38.903725 -77.017558
4             990.1                THEFT F/AUTO  38.868280 -76.957895
...             ...                         ...        ...        ...
27926         100.3                THEFT F/AUTO  38.953316 -77.093483
27927         841.0                    BURGLARY  38.900195 -76.989279
27928         960.3                 THEFT/OTHER  38.891117 -76.938597
27929         920.1                 THEFT/OTHER  38.930887 -76.996183
27930         420.2                 THEFT/OTHER  38.913718 -77.043435

[27930 rows x 4 columns]

In [19]:
# Changing column name so that merging is easier
crime_data_cleaned.rename(columns={'CENSUS_TRACT': 'tract','OFFENSE': 'offense', 'LATITUDE': 'lat', 'LONGITUDE': 'lon'}, inplace=True)
crime_data_cleaned

       tract                     offense        lat        lon
0      880.3  ASSAULT W/DANGEROUS WEAPON  38.910878 -76.985288
1      951.0                     ROBBERY  38.942156 -77.005133
2      550.2                 THEFT/OTHER  38.909358 -77.044147
3      470.3  ASSAULT W/DANGEROUS WEAPON  38.903725 -77.017558
4      990.1                THEFT F/AUTO  38.868280 -76.957895
...      ...                         ...        ...        ...
27926  100.3                THEFT F/AUTO  38.953316 -77.093483
27927  841.0                    BURGLARY  38.900195 -76.989279
27928  960.3                 THEFT/OTHER  38.891117 -76.938597
27929  920.1                 THEFT/OTHER  38.930887 -76.996183
27930  420.2                 THEFT/OTHER  38.913718 -77.043435

[27930 rows x 4 columns]

In [25]:
# Removal of decimals to ensure join
crime_data_cleaned['tract_no_decimal'] = crime_data_cleaned['tract'].apply(lambda x: int(float(x)))
crime_data_cleaned

,BIN,tract,offense,lat,lon,tract_no_decimal
0,9,880.3,ASSAULT W/DANGEROUS WEAPON,38.910878,-76.985288,880
1,10,951.0,ROBBERY,38.942156,-77.005133,951
2,6,550.2,THEFT/OTHER,38.909358,-77.044147,550
3,5,470.3,ASSAULT W/DANGEROUS WEAPON,38.903725,-77.017558,470
4,10,990.1,THEFT F/AUTO,38.868280,-76.957895,990
...,...,...,...,...,...,...
27926,2,100.3,THEFT F/AUTO,38.953316,-77.093483,100
27927,9,841.0,BURGLARY,38.900195,-76.989279,841
27928,10,960.3,THEFT/OTHER,38.891117,-76.938597,960
27929,10,920.1,THEFT/OTHER,38.930887,-76.996183,920
27930,5,420.2,THEFT/OTHER,38.913718,-77.043435,420

In [28]:
# Bins creation
crime_data_cleaned['BIN'] = crime_data_cleaned['tract_no_decimal'].apply(lambda x: min(int(float(x)) // 100, 18) + 1)
crime_data_cleaned

,BIN,tract,tract_no_decimal,offense,lat,lon
0,9,880.3,880,ASSAULT W/DANGEROUS WEAPON,38.910878,-76.985288
1,10,951.0,951,ROBBERY,38.942156,-77.005133
2,6,550.2,550,THEFT/OTHER,38.909358,-77.044147
3,5,470.3,470,ASSAULT W/DANGEROUS WEAPON,38.903725,-77.017558
4,10,990.1,990,THEFT F/AUTO,38.868280,-76.957895
...,...,...,...,...,...,...
27926,2,100.3,100,THEFT F/AUTO,38.953316,-77.093483
27927,9,841.0,841,BURGLARY,38.900195,-76.989279
27928,10,960.3,960,THEFT/OTHER,38.891117,-76.938597
27929,10,920.1,920,THEFT/OTHER,38.930887,-76.996183
27930,5,420.2,420,THEFT/OTHER,38.913718,-77.043435

In [29]:
# Reordering bins
crime_data_sorted = crime_data_cleaned.sort_values(by='BIN')
crime_data_sorted

,BIN,tract,tract_no_decimal,offense,lat,lon
19135,1,40.0,40,THEFT F/AUTO,38.926887,-77.064513
12433,1,20.2,20,BURGLARY,38.907214,-77.063250
12430,1,60.0,60,THEFT/OTHER,38.938240,-77.061409
21622,1,70.4,70,THEFT/OTHER,38.928810,-77.073453
12420,1,10.2,10,THEFT/OTHER,38.902584,-77.061955
...,...,...,...,...,...,...
15262,19,98000.0,98000,THEFT F/AUTO,38.892084,-77.030051
9412,19,98000.0,98000,THEFT/OTHER,38.879874,-77.036154
11412,19,98000.0,98000,THEFT/OTHER,38.890569,-77.019738
20616,19,98000.0,98000,ASSAULT W/DANGEROUS WEAPON,38.892074,-77.032817
21114,19,98000.0,98000,THEFT/OTHER,38.893590,-77.022951